/* regole reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

/* / reset */

.menu-header {
  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.menu-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header-left .menu-ul li {
  padding-right: 0.5rem;
}

.menu-header-right .menu-ul li {
  padding-left: 0.5rem;
}

/*
main {
  background-color: green;
}

.container-main-first-section {
  background-color: aqua;
  min-height: 300px;
  min-width: 700px;
}

.container-main-first-section-principal {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.text-principal {
  padding-top: 50px;
}

button,
.span-text {
  display: block;
}

.img-proposta {
  position: absolute;
  top: 30px;
  left: 251px;
}



.container-main-first-offerta {
  max-width: 800px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.piano-fatturazione {
  display: flex;
}

*/

footer {
  background-color: blue;
}
