/* regole reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* / reset */

.menu-header {
  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.menu-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header-left .menu-ul li {
  padding-right: 0.5rem;
}

.menu-header-right .menu-ul li {
  padding-left: 0.5rem;
}

.menu-header-right .menu-ul .btn-inizia {
  background-color: blue;
  color: white;
  padding: 0.5rem;
}

main {
  background-color: green;
}

#jumbo {
  background-color: aqua;
}

.card {
  flex-wrap: wrap;
}

.text-principal-70 {
  width: 70%;
}

button,
.span-text {
  display: block;
}

.img-30 {
  width: 30%;
}

/*

.container-main-first-offerta {
  max-width: 800px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.piano-fatturazione {
  display: flex;
}

*/

footer {
  background-color: blue;
}
