/* regole reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* / regole reset */

/* utils */

.container-principal {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
  position: relative;
  bottom: -80px;
}

.container-business-plan {
  background-color: rgb(255, 255, 255);
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.container-footer-recapiti {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.row {
  display: flex;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

/* regole colonne */

.col-30 {
  flex-basis: 30%;
}

.col-1-5 {
  flex-basis: calc(100% / 5);
}

.col-1-3 {
  flex-basis: calc(100% / 3);
}

.col-50 {
  flex-basis: 50%;
}

.col-70 {
  flex-basis: 70%;
}

.col-100 {
  flex-basis: 100%;
}

[class*="col"] {
  padding: 0 1rem;
}

/* / reset */

/* lavorazione header */

.menu-header {
  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.menu-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header-left .menu-ul li {
  padding-right: 0.5rem;
}

.menu-header-right .menu-ul li {
  padding-left: 0.5rem;
}

.menu-header-right .menu-ul .btn-inizia {
  background-color: blue;
  color: white;
  padding: 0.5rem;
}

/* /lavorazione header */

/* lavorazione main */

main {
  background-color: rgb(255, 255, 255);
}

/* sezione jumbo */

#jumbo {
  background-color: #b4d0e6;
  position: relative;
}

#business-plan {
  background-color: rgb(255, 255, 255);
}

h1 {
  padding: 50px 0;
  font-size: 600;
  font-weight: 600;
}

.text-descrition {
  margin: 0.5rem 0;
  font-size: large;
  font-weight: 600;
}

.text-descrition p {
  padding: 1rem 0;
}

.arrow-down {
  position: relative;
  left: 0;
  bottom: -200px;
}

button,
.span-text {
  display: block;
}

/* sezione business-plan */

.type-pay button {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: black;
  padding-right: 0.5rem;
  margin-right: 2px;
}

.pay-month {
  border-color: 10px solid blue;
}

.card {
  border: 1px solid black;
  margin-top: 10px;
}

.type-pay {
  margin: 16px 0;
  font-size: larger;
  font-weight: 900;
}

.type-descrition {
  border-top: 1px solid black;
  padding: 1rem;
  font-size: large;
}

.type-descrition-top * {
  padding: 1rem 0;
}

.type-descrition-center * {
  padding: 1rem 0;
}

.btn-prova {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  background-color: blue;
  color: white;
}

.buy-now {
  padding-left: 0.5rem;
}

.separator {
  background-color: grey;
  width: 50px;
  height: 2px;
  margin: 0.5rem 0;
}

h5 {
  text-align: center;
  margin: 10px 0;
}

.type-descrition-bottom * {
  padding: 2rem 0;
}

/* sezione team */

#team > .container-business-plan > .row {
  border: 1px solid black;
}

.team-descrition * {
  margin: 2rem 0;
}

.btn-team {
  text-align: center;
  background-color: blue;
  color: white;
  min-width: 200px;
  height: 50px;
  position: relative;
  top: 50px;
  left: 200px;
}

/*  sezione contact  */

.text-contact {
  margin: 3rem 0;
}

.text-contact-top {
  margin: 3rem 0;
}

h4 {
  font-weight: 900;
  font-size: large;
  margin: 2rem 0;
}

.btn-contact {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  height: 50px;
  min-width: 100px;
}

/* sezione more operation */

h2 {
  font-size: large;
  font-weight: bolder;
  margin: 1rem 0;
}

h3 {
  margin: 1rem 0;
}

/* sezione people-used */

/* sezione footer */

footer {
  background-color: rgb(0, 0, 0);
  color: white;
}

footer nav li a {
  color: white;
  text-decoration: none;
}

footer nav li {
  margin: 2rem 0;
}

.card-footer {
  margin-top: 100px;
}

.card-footer .separator {
  margin-top: 5rem;
}

.select-language {
  margin: 2rem 0;
}
